.wrapper {
    display: flex;
    align-items: center;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &.background {
        background-color: #e4e6eb;
    }
}

.icon {
    font-size: 2rem;
}

.img {
    width: 24px;
    height: 24px;
    border-radius: 25%;
    margin-left: 6px;
}

.title {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    margin-left: 8px;
}
