.wrapper {
    width: 300px;
    height: 881px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
}

.nav {
    position: relative;
    padding: 16px 0 8px 6px;

    ~ .nav {
        padding: 8px 0 8px 6px;
    }
    ~ .nav::before {
        display: block;
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        height: 1px;
        width: 80%;
        background-color: var(--separate-color);
    }
}

.item-wrapper {
}

.item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 12px;
    border-radius: 8px;
    &:hover {
        background-color: var(--hover-overlay-2);
    }
}

.no-padding {
    padding: 0;
}

.footer {
    font-size: 1.4rem;
}
